body {
  background: #333333;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.gameboard {
  margin: 48px auto;
}
.tiles {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;
  align-items: center;
}

.tile {
  height: 100px;
  background: #111111;
  border: 5px solid #444444;
  cursor: pointer;
}

.restartButton {
  margin: 24px auto;
}
